<?xml version="1.0" encoding="UTF-8" ?>
<!--This document contains the configuration for this project-->
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="urn:placeholder ./AdaptableCliConfigSchema.xsd">
    <!--Adoptables are classes that extend the cli-->
    <adoptables>
        <register>
            <verb>local</verb>
            <description>Lokales Ko-Op Spiel</description>
            <options>
                <option>
                    <short>s</short>
                    <long>spieler</long>
                    <type>int</type>
                    <default>2</default>
                    <help>Die Anzahl der Spieler</help>
                </option>
                <option>
                    <short>r</short>
                    <long>runden</long>
                    <type>int</type>
                    <default>1</default>
                    <help>Die Anzahl der Runden</help>
                </option>
                <option>
                    <long>seed</long>
                    <type>long</type>
                    <default>0</default>
                    <help>Der seed für den RNG (0 ist zufällig)</help>
                </option>
            </options>
            <class>com.github.severinnitsche.cards.local.Local</class>
            <help>/help_local.txt</help>
        </register>
        <register>
            <verb>host</verb>
            <description>Online Spiel hosten</description>
            <options>
                <option>
                    <short>r</short>
                    <long>runden</long>
                    <type>int</type>
                    <default>1</default>
                    <help>Die Anzahl der Runden</help>
                </option>
                <option>
                    <short>s</short>
                    <long>spieler</long>
                    <type>int</type>
                    <default>2</default>
                    <help>Die Anzahl der Spieler</help>
                </option>
                <option>
                    <long>seed</long>
                    <type>long</type>
                    <default>0</default>
                    <help>Der seed für den RNG (0 ist zufällig)</help>
                </option>
                <option>
                    <short>p</short>
                    <long>port</long>
                    <type>int</type>
                    <default>53427</default>
                    <help>Der Port des Servers</help>
                </option>
            </options>
            <class>com.github.severinnitsche.cards.network.cli.Host</class>
            <help>/help_host.txt</help>
        </register>
        <register>
            <verb>host</verb>
            <description>Online Spiel hosten</description>
            <options>
                <option>
                    <short>i</short>
                    <long>id</long>
                    <type>String</type>
                    <help>Der Nickname</help>
                </option>
                <option>
                    <short>h</short>
                    <long>host</long>
                    <type>String</type>
                    <help>Der Server</help>
                </option>
                <option>
                    <long>p</long>
                    <type>port</type>
                    <default>53427</default>
                    <help>Der Port des Servers</help>
                </option>
            </options>
            <class>com.github.severinnitsche.cards.network.cli.Client</class>
            <help>/help_local.txt</help>
        </register>
    </adoptables>
</configuration>